.row
  .small-12.small-centered.columns
    %h3= t('text.users.new')

  .panel
    = form_for @user do |f|
      .row
        .small-12.columns
          = f.text_field :name
      .row
        .small-12.columns
          = f.email_field :email
      .row
        .small-6.columns
          = f.password_field :password
        .small-6.columns
          = f.password_field :password_confirmation
      = f.submit t('buttons.signup'), :class => 'button'
